@layer base {
    * {
        margin: 0;
    }



    body {
        background-color: #fff;
        color: #000;
        font-family: RO Sans, Verdana, Arial, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.375;
        margin: 0;
        text-align: left;
    }



    :root {
        --achtergrondKader: #f3f3f3;
        --hoofdKleur: #8ecae7;
        --fontKleur: black;
        --fieldsetKleur: #e0eff8;
        --donderblauwBL: #154273;
    }

    main {
        margin: 0em 3em;
    }

    fieldset {
        background-color: var(--fieldsetKleur);
        border: none;
        margin: 2em 0em;
    }

    section {
        margin: 1em;
    }



    header section {
        height: 6rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    header section img {
        height: 95.2px;
        object-fit: cover;
        transform: translateX(5.5rem);
        vertical-align: middle;
    }


    div {
        background-color: var(--hoofdKleur);
        height: 3rem;
    }

    legend {
        background-color: var(--fieldsetKleur);
        display: inline-block;
        width: 100%;
        padding-right: 1.35em;
        margin-left: -.75em;

    }

    .boldLegend {
        font-weight: bold;
    }

    input[type="text"] {
        border: var(--donderblauwBL) solid 1px;
        width: 50%;
        border-radius: 1px;
    }

    summary {
        color: var(--donderblauwBL);
        font-size: .8rem;
    }

    details {
        font-size: .8rem;
    }








}

@layer components {

    input[type="text"] {
        border: var(--donderblauwBL) solid 1px;
        width: 50%;
        border-radius: 1px;
    }

    input[type="date"] {
        border: var(--donderblauwBL) solid 1px;
        border-radius: 1px;
    }



}





@layer utilities {
    .javascript .hidden {
        display: none;
    }

    :user-invalid {
        border: solid red 2px;
    }

    :user-valid {
        border: solid green 2px;
    }

    @media (min-width: 768px) {
        img {
            height: 107.1px;
            transform: translateX(2px);
        }

        main {
            margin: 0em 20em;
        }
    }

    html:has(#BSNInput1:user-invalid) #BSNLabel1::after,
    html:has(#BSNInput2:user-invalid) #BSNLabel2::after,
    html:has(#BSNInput3:user-invalid) #BSNLabel3::after,
    html:has(#BSNInput4:user-invalid) #BSNLabel4::after {
        content: "Vul een geldig BSN nummer in";
        color: red;
        display: block;
        font-size: .8rem;
    }

    html:has(#VolledigeNaamInput1:user-invalid) #VolledigeNaamLabel1::after {
        content: "Vul hier een naam in";
        color: red;
        display: block;
        font-size: .8rem;
    }

    html:has(#datumInput1:user-invalid) #datumLabel1::after {
        content: "Vul hier een geldige datum in";
        color: red;
        display: block;
        font-size: .8rem;
    }



}