html {
    background-color: var(--achtergrondKader);
}

:root {
    --achtergrondKader: #f3f3f3;
    --hoofdKleur: #01689b;
    --fontKleur: black;
}

fieldset {
    border: solid var(--hoofdKleur) 2px;
    margin: 1em;
    background-color: white;
}

.hidden {
    display: none;
}

/* :invalid {
    background-color: red;
} */